<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido a mercadoliebre</title>
</head>

<header>


   
                    <div class="topnav">
                    
                        <a href="">Logo</a>
                            <input type="text" placeholder="Search.."> 
                            <p>Compra en cuotas y sin tarjeta de credito</p>

                    </div> 

                <nav>
            
                <ul>
            
                    <li><a href="">Ofertas</a></li>
                    <li><a href="">Tiendas oficiales</a></li>
                    <li><a href="">Vender</a></li>
                    <li><a href="">Ayuda</a></li>
            
                </ul>

            

                <ul>

                    <li><a href="/registro">Crea tu cuenta </a></li>

                    <li><a href="/login">Ingresa</a></li>

                    <li><a href="/carrito">Mis compras</a></li>

                </ul>

           

        </nav>


  


</header>

<body>
    

<section>

    <h2>Basado en tu ultima vista</h2>

    <div class = "container">

        <h2>Imagen de la cafetera</h2>
        <p>$6.770</p>
        <p>40 % off</p>
        <p>Cafetera Moulinex</p>

    </div>

    <div class = "container">

        <h2>imagen de MacBook</h2>
        <p>$230.000</p>
        <p>20 % off</p>
        <p>MacBook Pro 2019</p>

    </div>

    <div class = "container">

        <h2>imagen del Samsung Galaxy</h2>
        <p>$70.500</p>
        <p>10% off</p>
        <p>Samsung Galaxy S10</p>

    </div>

    <div class = "container">

        <h2>imagen del Smart TV</h2>
        <p>$23.200</p>
        <p>5% off</p>
        <p>Smart TV Samsung 43"</p>
        
    </div>
    
</section>
    


<section>

    <h2>Seccion de ofertas</h2>

        <div class = "container">

            <h2>Imagen de la cafetera</h2>
            <p>$6.770</p>
            <p>40 % off</p>
            <p>Cafetera Moulinex</p>

        </div>

        <div class = "container">

            <h2>imagen de MacBook</h2>
            <p>$230.000</p>
            <p>20 % off</p>
            <p>MacBook Pro 2019</p>

        </div>

        <div class = "container">

            <h2>imagen del Samsung Galaxy</h2>
            <p>$70.500</p>
            <p>10% off</p>
            <p>Samsung Galaxy S10</p>

        </div>

        <div class = "container">

            <h2>imagen del Smart TV</h2>
            <p>$23.200</p>
            <p>5% off</p>
            <p>Smart TV Samsung 43"</p>
        
        </div>
    
    </section>



</body>


<footer>


    <div class="footer">

        <ul>

            <li><h4>Paga con tarjeta o efectivo</h4>
                <p>
                    Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!
                </p>

            </li>
                 
            
            <li>

            <h4>Seguridad de principio a fin</h4>
                 <p>
                    ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.
                </p>

            </li>


            <li>
                <h4>Copyright © 1999-2020 MercadoLiebre S.R.L</h4>
            </li>


        </ul>

    </div>

    

</footer>

</html>